@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gentium Book Plus", serif;
}

.h {
  background-image: url(./assets/1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  object-fit: cover;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides:hover {
  background-color: #fcf9ed;
}
.slides {
  width: 25%;
  height: 12cm;
  text-align: center;
  border-top-style: none;
  border-top-width: 0px;
  border-right-color: #eeeeee;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 90px;
  padding-left: 20px;
}
.card-image {
  margin: 10px;
}
.slide .img img {
  width: 100%;
  object-fit: cover;
  text-align: center;
}
.slides h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.slides h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.imagetext {
  width: 100%;
  display: flex;
  background-color: #fcf9ed;
  box-sizing: border-box;
  padding-top: 100px;
}
.image {
  width: 50%;
  margin-left: 150px;
}
.tet {
  width: 50%;
}
.tet1 {
  font-family: "Playfair Display";
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-right: 200px;
}
.ppp {
  font-size: 20px;
  padding-right: 100px;
  padding-right: 200px;
  margin-bottom: 80px;
}

.Text-mid {
  font-size: 50px;
  font-weight: 600;
  padding-left: 550px;
}

.sl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product:hover {
  background: #eeeeee;
}
.product {
  width: 25%;
  height: 12cm;
  text-align: center;
  padding: 50px;
  border: solid 1px #eeeeee;
}
.product:hover {
  background-color: #fcf9ed;
}
.product h2 {
  font-size: 20px;
  font-weight: 600;
}
.te {
  margin: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
.te h3 {
  font-size: 20px;
  color: orange;
}
